@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #ededed;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-catamaran: "Catamaran", sans-serif;
  --font-bmono: "B612 Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

